{% extends 'base.html.twig' %}

{% block body %}

<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">écrit le 30/05/2018 à 19:00 dans la catégorie politique</div>
    <div class="content">
        <img src="http://placehold.it/450x200" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste repellat ea eligendi consequatur ex optio?</p>
        <p>Neque iure similique nemo assumenda molestiae? Soluta similique ipsum quasi possimus quis neque amet rem.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem autem in, cumque voluptates quam quia iste atque dolorum voluptate obcaecati eligendi ea eveniet sit fugit consequuntur amet aspernatur sint veritatis voluptatem illo similique! Provident, nemo veritatis earum tempora placeat corrupti amet quia eaque deleniti quisquam dolorem expedita optio voluptate.</p>
    <p>Quisquam voluptatibus amet sequi magnam, maiores voluptas blanditiis officia, sit earum, hic sapiente minus voluptatum consequatur aut ipsam debitis! Inventore sint amet aliquam sit blanditiis quod voluptas possimus repudiandae nihil perferendis nobis aliquid qui, distinctio fugit nemo numquam aperiam architecto eveniet dolores delectus est nisi alias illo modi! Expedita, voluptates!</p>
    <p>Laborum vel assumenda dicta, neque nisi doloribus corrupti reprehenderit ea eos, animi atque, repellendus quis nam libero nulla saepe ipsa commodi. Ullam laborum molestias itaque laboriosam exercitationem accusantium quod, est doloribus, architecto sint assumenda animi sunt harum quisquam rerum vitae sapiente ut natus? Dolorum in ut maxime, quae debitis atque!</p>

    </div>
</article>

{% endblock body %}